<div class="container">


    <form class="need-validation card" novalidate [formGroup]="fBasicInfo" (ngSubmit)="onSubmit()">
        <h3 class="formTitle">
            Formulario solicitud dedicación exclusiva
        </h3>

        <h5>Datos del profesor solicitante</h5>
        <div class="alert alert-info">
            <p>
                Por favor cerciorese que los datos a continuación sean correctos.
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="formfloatig">
                    <input id="floatingNombre" formControlName="nombre" class="form-control" placeholder=" "
                        [ngClass]="{'is-invalid': isInvalidForm('nombre')}" required>
                    <label for="floatingNombre" class="formLabel">Nombres completos</label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="formfloatig">
                    <input id="floatingApellidos" formControlName="apellido" class="form-control" placeholder=" "
                        [ngClass]="{'is-invalid': isInvalidForm('apellido')}" required>
                    <label for="floatingApellidos" class="formLabel">Apellidos completos</label>
                </div>
            </div>
        </div>

        <div class="formfloatig">
            <input id="floatingdId" formControlName="identificacion" class="form-control" type="number" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('identificacion')}" required>
            <label for="floatingdId" class="formLabel">Número de identificación</label>
        </div>

        <div class="formfloatig">
            <input id="floatingExt" placeholder=" " formControlName="extension_oficina" class="form-control">
            <label for="floatingExt" class="formLabel">Número de extención oficina</label>
        </div>

        <div class="formfloatig">
            <input id="floatingcelular" formControlName="celular" class="form-control" type="number" placeholder=" "
                [ngClass]="{'is-invalid': fBasicInfo.controls['celular'].invalid }">
            <label for="floatingcelular" class="formLabel">Número de teléfono célular</label>
        </div>

        <div class="formfloatig">
            <input id="floatingemail" formControlName="email" class="form-control" type="email" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('email')}" required>
            <label for="floatingemail" class="formLabel">Correo Institucional
            </label>
        </div>
        <hr>
        <h4>Referencias básicas de la dedicación exclusiva</h4>
        <div class="alert alert-warning">
            <p>
                A continuación los datos son obligatorios.
            </p>
        </div>

        <div class="formfloatig">
            <input id="floatingTitulo" formControlName="titulo" class="form-control" type="text" placeholder=" "
                [ngClass]="{'is-invalid': isInvalidForm('titulo')}" required>
            <label for="floatingTitulo" class="formLabel"> Título de la propuesta o proyecto
            </label>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="formfloatig">
                    <input id="floatingTiempo" formControlName="tiempo_solicitado" class="form-control" type="number"
                        placeholder=" " [ngClass]="{'is-invalid': isInvalidForm('tiempo_solicitado')}" required>
                    <label for="floatingTiempo" class="formLabel">Tiempo solicitado
                    </label>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="formfloatig">
                    <select class="form-select form-select-lg mb-3" id="floatingcampo_modalidad" formControlName="campo_modalidad" required
                        [ngClass]="{'is-invalid': isInvalidForm('campo_modalidad')}" placeholder=" ">
                        <option [value]="campo_modalidad" *ngFor="let campo_modalidad of campos">{{campo_modalidad}}</option>
                    </select>
                    <label for="floatingcampo_modalidad" class="selectLabel" [ngClass]="{'isFill': fBasicInfo.controls['campo_modalidad'].valid}">Campo o modalidad</label>
                </div>
            </div>
        </div>

        <h5>Documento comprobante de inscripción en  el Sistema Universitario de Investigación (acta, contrato u otro):</h5>
        <div class="alert alert-danger">
            <p>
                Indicaciones sobre este campo_modalidad importante!
                Lo puse no requerido por ahora!!!
            </p>
        </div>

        <div class="formfloatig">
            <textarea id="floatingComprobante" formControlName="descripcion_comprobante" class="form-control"
                placeholder=" " [ngClass]="{'is-invalid': isInvalidForm('descripcion_comprobante')}" rows="5">
            </textarea>
            <label for="floatingComprobante" class="formLabel">Comprobante de inscripción
            </label>
        </div>
        
        <hr>
        <h5>Apoya al plan de Desarrollo Institucional Vigente en:</h5>
        <h6>Temas:</h6>
        <div style="width: 100%;" formArrayName="tema_estrategico">

            <div *ngFor="let tema of temasArr.controls; last as isLast; let i=index" class="arrayLike formfloatig"
                [formGroupName]="i">
                <textarea id="floatingTema{{i}}" formControlName="tema" class="form-control" type="text" placeholder=" "
                    [ngClass]="{'is-invalid': tema.invalid && tema.touched}"></textarea>
                <label for="floatingTema{{i}}" class="formLabel">Tema {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button" (click)="removeInput('tema_estrategico',i)"
                        *ngIf="temasArr.length > 1">
                        <i class="fa fa-minus"></i>

                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputTemas()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
            

        </div>

        <h6>Objetivo(s) estratégico(s) de desarrollo:</h6>
        <div style="width: 100%;" formArrayName="objetivo_estrategico_desarrollo">

            <div *ngFor="let objEstrategico of objEstrategicosArr.controls; last as isLast; let i=index" class="arrayLike formfloatig"
                [formGroupName]="i">
                <textarea id="floatingobjetivo_estrategico_desarrollo{{i}}" formControlName="objEstrategico" class="form-control" type="text" placeholder=" "
                    [ngClass]="{'is-invalid': objEstrategico.invalid && objEstrategico.touched}"></textarea>
                <label for="floatingobjetivo_estrategico_desarrollo{{i}}" class="formLabel">Objetivo {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button" (click)="removeInput('objetivo_estrategico_desarrollo',i)"
                        *ngIf="objEstrategicosArr.length > 1">
                        <i class="fa fa-minus"></i>

                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputObjEstrategicos()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
            

        </div>


        <h6>Meta(s):</h6>
        <div style="width: 100%;" formArrayName="metas">

            <div *ngFor="let meta of metasArr.controls; last as isLast; let i=index" class="arrayLike formfloatig"
                [formGroupName]="i">
                <textarea id="floatingMeta{{i}}" formControlName="meta" class="form-control" type="text" placeholder=" "
                    [ngClass]="{'is-invalid': meta.invalid && meta.touched}"></textarea>
                <label for="floatingMeta{{i}}" class="formLabel">Meta {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button" (click)="removeInput('metas',i)"
                        *ngIf="metasArr.length > 1">
                        <i class="fa fa-minus"></i>

                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputMetas()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
            

        </div>
        <h6>Accion(es) Estratégica(s):</h6>
        <div style="width: 100%" formArrayName="acciones_estrategicas">
            
            <div *ngFor="let accion of acciones_estrategicasArr.controls; last as isLast; let i=index"
                class="arrayLike formfloatig" [formGroupName]="i">
                <textarea id="floatingacciones_estrategicas{{i}}" formControlName="accion" class="form-control"
                    type="text" placeholder=" " [ngClass]="{'is-invalid': accion.invalid && accion.touched}">
                </textarea>
                <label for="floatingacciones_estrategicas{{i}}" class="formLabel">Acción estratégica {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button"
                        (click)="removeInput('acciones_estrategicas',i)" *ngIf="acciones_estrategicasArr.length > 1">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputacciones_estrategicas()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
        
        </div>
        <hr>
        <h5>Apoya al plan de Acción Institucional Vigente en:</h5>
        <h6>Objetivo(s) extratégico(s) institucional(es):</h6>
        <div style="width: 100%" formArrayName="objetivo_estrategico_institucional">
            
            <div *ngFor="let objetivo of objetivo_estrategico_institucionalArr.controls; last as isLast; let i=index"
                class="arrayLike formfloatig" [formGroupName]="i">
                <textarea id="floatingobjetivo_estrategico_institucional{{i}}" formControlName="objetivo" class="form-control"
                    type="text" placeholder=" " [ngClass]="{'is-invalid': objetivo.invalid && objetivo.touched}">
                </textarea>
                <label for="floatingobjetivo_estrategico_institucional{{i}}" class="formLabel">Objetivo {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button"
                        (click)="removeInput('objetivo_estrategico_institucional',i)" *ngIf="objetivo_estrategico_institucionalArr.length > 1">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="objetivo_estrategico_institucional()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
        
        </div>
        <h6>Indicador(es):</h6>
        <div style="width: 100%" formArrayName="indicador">
            
            <div *ngFor="let indicador of indicadorArr.controls; last as isLast; let i=index"
                class="arrayLike formfloatig" [formGroupName]="i">
                <textarea id="floatingindicador{{i}}" formControlName="indicador" class="form-control"
                    type="text" placeholder=" " [ngClass]="{'is-invalid': indicador.invalid && indicador.touched}">
                </textarea>
                <label for="floatingindicador{{i}}" class="formLabel">Indicador {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button"
                        (click)="removeInput('indicador',i)" *ngIf="indicadorArr.length > 1">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputIndicador()" *ngIf="isLast">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>
        
        </div>

        <hr>
        <h5>Productos:</h5>
        <div class="alert alert-info">
        <p>El profesor debe indicar los productos adquiere y se compromete a entregar una vez culmine su período de Dedicación Exclusiva. Esta información será consignada en la Resolución de Vicerrectoría de Docencia.</p>
    </div>
        <div style="width: 100%" formArrayName="productos">
            
            <div *ngFor="let producto of productosArr.controls; last as isLast; let i=index"
                class="arrayLike formfloatig" [formGroupName]="i">
                <textarea id="floatingproductos{{i}}" formControlName="producto" class="form-control"
                    type="text" placeholder=" " [ngClass]="{'is-invalid': producto.invalid && producto.touched}">
                </textarea>
                <label for="floatingproductos{{i}}" class="formLabel">Producto {{i+1}}</label>
                <div class="buttons">
                    <button class="btn btn-circle btn-danger btn-sm" type="button"
                        (click)="removeInput('productos',i)" *ngIf="productosArr.length > 1">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm" type="button" (click)="addInputProductos()" *ngIf="isLast" >
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            
        
        </div>
    </div>

        <button class="btn btn-success" (submit)="true" [disabled]="fBasicInfo.invalid">Enviar</button>

    </form>
</div>