
<app-solicitudes-buscar class="small"></app-solicitudes-buscar>


<div class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded">
<form>


  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Solicitud</th>
          <th scope="col">Estado</th>
          <th scope="col">Facultad</th>
          <th scope="col">Departamento</th>
          <!-- <th scope="col" sortable="createdAt" (sort)="onSort($event)">Fecha Creación</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permiso of permisos" class="click-table">
          <th scope="row">{{ permiso.id }}</th>
          <td>{{ permiso.solicitud }}</td>
          <td>{{ permiso.estado }}</td>
          <td>{{ permiso.facultad}}</td>
          <td>{{ permiso.departamento }}</td>
         </tr>
        <tr
         *ngFor="let comision of comisiones" class="click-table">
          <th scope="row">{{ comision.id }}</th>
          <td>{{ comision.fecha_inicio }}</td>
          <td>{{ comision.estado }}</td>
          <td>{{ comision.facultad}}</td>
          <td>{{ comision.departamento }}</td>
         </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2">
    ngb-pagination

    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"

    >

    </select>
  </div>
</form>

<div

class="container shadow-sm pt-4 pl-4 pr-4 pb-3 mb-5 bg-white rounded"
>
<p>
  ngb-alert
</p>
</div>

</div>
